@use "sass:math";

// converting px-to-rem
$body-fs: 16px;
$body-lh: 24px;
$body-bg: #ffffff;
$body-color: #483b33;
//font-size
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs30: 30px;
$fs36: 36px;
$fs38: 38px;
$fs50: 50px;
$fs52: 52px;
$fs80: 80px;

//line-height
$lh14: 14px;
$lh16: 16px;
$lh17: 17px;
$lh20: 20px;
$lh21: 21px;
$lh24: 24px;
$lh26: 26px;
$lh27: 27px;
$lh30: 30px;
$lh31: 31px;
$lh32: 32px;
$lh40: 40px;
$lh42: 42px;
$lh50: 50px;
$lh54: 54px;
$lh62: 62px;
$lh100: 100px;

//colors
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$green: rgba(105, 175, 7, 1);
$brown: rgba(72, 59,51, 1);
$yellow: rgba(255, 212, 30, 1);
$olive: rgba(229, 235, 206, 1);
$light-yellow: rgba(250, 237, 175, 1);
$gray: rgba(214, 214, 214, 1);
$dark-black: rgba(34, 29, 25, 1);
$light-green: rgba(244, 247, 233, 1);
$orange: rgba(255, 124, 31, 1);

// font-family
$Regular: "Open-Sans-Regular", sans-serif;
$Light: "Open-Sans-Light", sans-serif;
$Bold: "Open-Sans-Bold", sans-serif;
$Roboto-Bold: "Roboto-Slab-Bold", sans-serif;
